In [2]:
import mysql.connector

In [4]:
import pandas as pd

In [5]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Cmpunk@007",database="dailysales")

In [6]:
df=pd.read_sql("select * from sales",mydb)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7660\1746032488.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql("select * from sales",mydb)

In [7]:
df

  sales_id bde_name prod_name  cost
0        1     Ravi      Pen   1000

In [9]:
df2=pd.read_csv("sample.csv")

In [10]:
df2

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,522816eF8fdBE6d,Mckinney PLC,http://soto.com/,Sri Lanka,Synergized global system engine,1988,Dairy,3930
1,2,70C7FBD7e6Aa3Ea,Cunningham LLC,http://harding-duffy.com/,Namibia,Team-oriented fault-tolerant adapter,2018,Library,7871
2,3,428B397eA2d7290,Ruiz-Walls,http://www.atkins.biz/,Iran,Re-contextualized bifurcated moderator,2003,Hospital / Health Care,3095
3,4,9D234Ae8Cc51C1c,"Parrish, Osborne and Clarke",http://salazar.info/,British Indian Ocean Territory (Chagos Archipe...,Fully-configurable next generation concept,1989,Supermarkets,5422
4,5,6CDCcdE3D0b7b44,"Diaz, Robles and Haley",https://www.brooks-scott.net/,Botswana,Inverse intangible methodology,2013,Nanotechnology,3135
...,...,...,...,...,...,...,...,...,...
9995,9996,2EE82AD1Cd045cd,"Neal, Day and Wang",https://carson.net/,San Marino,Team-oriented multimedia core,2013,Import / Export,6123
9996,9997,06f1568A2CaF04a,"Barrett, Rojas and Adkins",https://douglas-garza.com/,Turkmenistan,Cross-group dedicated methodology,2018,Human Resources / HR,9043
9997,9998,B4B92A44e0331Bc,Franklin-Ayala,http://www.torres.org/,Yemen,Polarized exuding orchestration,1983,Financial Services,8951
9998,9999,01D2539e270CEbd,Wolfe-Mckee,http://www.parks.com/,Togo,Balanced value-added ability,1975,Environmental Services,2505
9999,10000,0D3b7DcFA21d92d,Beck LLC,https://wagner-glover.com/,Georgia,Decentralized context-sensitive service-desk,2007,Wireless,4552

In [ ]:
from google_auth_oauthlib.flow import InstalledAppFlow

In [ ]:
f=InstalledAppFlow.from_client_secrets_file("keyy.json",['https://www.googleapis.com/auth/spreadsheets'])

In [ ]:
cred=f.run_local_server(port=0)