In [1]:
class human:
    name=""
    age=0
    gender=""

In [2]:
h1=human()

In [3]:
print(h1.name)

In [4]:
h1.name=input("enter your name")

enter your nameaman

In [5]:
print(h1.name)

aman

In [6]:
h1.age=int(input("enter your age"))

enter your age32

In [7]:
h1.gender=input("enter gender")

enter gendermale

In [9]:
print("name",h1.name)
print("name",h1.age)
print("name",h1.gender)

name aman
name 32
name male

In [12]:
class human:
    name=""
    age=0
    gender=""
    
    def getdata(self):
        self.age=int(input("enter your age"))
        
    def display(self):
        print("age",self.age)

In [13]:
h3=human()

In [14]:
h3.getdata()

enter your age55

In [15]:
h3.display()

age 55

In [1]:
class human:
    name=""
    age=0
    gender=""
    
    def __init__(self):
        self.age=int(input("enter your age"))
        
    def display(self):
        print("age",self.age)

In [2]:
h5=human()

enter your age56

In [3]:
class intro:
    def __init__(self,n,b):
        print("hello my name is",n,"and I am",b,"years old")

In [4]:
h=intro(n="gagan",b=33)

hello my name is gagan and I am 33 years old

In [11]:
class employee:
    name=""
    age=0
    salary=0
    
    def __init__(self):
        self.name=input("enter your name")
        self.age=int(input("enter your age"))
        self.salary=int(input("enter your salary"))
    def display(self):
        print("age",self.age)
        print("name",self.name)
        print("salary",self.salary)

In [9]:
class Student:
    def _init_(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

while True:
    name = input("Enter student name (or 'quit' to exit): ")
    if name == 'quit':
        break
    age = int(input("Enter student age: "))
    marks = float(input("Enter student marks: "))
    Student = Student(name,age,marks)
    print(Student.name,Student.age,Student.marks)

Enter student name (or 'quit' to exit): ravi
Enter student age: 23
Enter student marks: 34

TypeError: Student() takes no arguments

In [ ]:
class stu:
    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

while True:
    name = input("Enter student name: ")
    age = int(input("Enter student age: "))
    marks = float(input("Enter student marks: "))
    
    student = stu(name, age, marks)

Enter student name: ravi
Enter student age: 23
Enter student marks: 34
Enter student name: 45
Enter student age: 56
Enter student marks: 67
Enter student name: quit
Enter student age: 34
Enter student marks: 45

In [2]:
class Bus:
    def __init__(self, passenger_name, age, distance):
        self.passenger_name = passenger_name
        self.age = age
        self.distance = Distance
        self.fare = self.calculate_fare()

    def calculate_fare(self):
        if self.age>18:
            return self.distance*5
        else:
            return self.distance*3

In [4]:
bus2=Bus("ravi",20,10)

NameError: name 'Distance' is not defined

In [1]:
print(bus2.fare)

NameError: name 'bus2' is not defined